footer {
  height: 1.75rem;
  width: 100%;
  text-align: center;
  line-height: 1.4rem;
  padding: 1.4rem 0;

  .footer-container {
    font-size: .8rem;

    .footer-line {
      width: 100%;

      .icp-br {
        display: none;
      }
    }
  }

  @include blur;
}
